*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    padding: 20px;
    background-image: url('BackGround_img.webp');
    background-size: cover;

}

.container header{
    padding: 10px;
    font-size: 40px;

}
.input-values{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap:20px;
    width: 100%;
    
}
.input-values input{
    padding: 5px;
    border-radius: 10px;
    width:100%;
    text-align: center;
    font-size: 20px;
    background-color:lightcyan;
    color: white;

    
}
.input-values button{
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    width: 30%;
    font-size: 15px;
    background-color: green;
    color: white;
    border: 2px solid wheat;
}
.input-values button:hover{
    transform: scale(1.1);
}
.input-values select{
    width: 30%;
    font-size: 15px;
    text-align: center;
    border-radius: 10px;

}
ul{
    list-style: none;
    padding: 10px;
}
li{
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    margin: 10px;
    background-color: aqua;
    color: black;
}
li:hover{
    transform: scale(1.1);
}
.completed{
    text-decoration: line-through;
}
.rmv-btn{
    padding: 5px;
    border-radius: 10px;
    width: 10%;
    font-size: 10px;
    background-color: red;
    color: white;
    text-align: center;
    border: 1px solid black;
    text-decoration: none;
}

.rmv-btn:hover{
    transform: scale(1.05);
}

@media (max-width:480px){
.container header{
  
    font-size: 25px;
}

.input-values input{
    font-size: 15px;
}
.input-values button{
   
    width: 50%;
}
.input-values button:hover{
    transform: scale(1.1);
}

ul{

    padding: 5px;
}
li{
    width: 90%;
    font-size: 15px;
}

.rmv-btn{
    width: 20%;
}

}